<div class="container mt-2 mb-5" id="EducationDetailsDiv">
    @{Html.RenderAction("EducationDetails"); }
</div>
<div class="modal fade" id="AcademicsModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelContentEducation">
        </div>
    </div>
</div>