<div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-sm-3"> <img src="./images/logo-pre.png"> </div>
        <div class="col-sm-5 pt-2">
            <p class="h4 blue-clr">Work Experience</p>
            <span class="ft-sml">Sr. Art Director</span>
        </div>
        <div class="col-sm-4 pt-4">
            <div class="switch-btn-1">
                <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
                <label class="switch-paddle col-grey" for="exampleSwitch">
            </div>
        </div>
    </div>
    <div class="row mt-5 ft-14">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-1"><em class="fa fa-map-marker-alt col-blue pt-1 ft-20"></em></div>
                <div class="col-sm-11 pl-1">
                    <p>9580 W Reno Ave  Unit 100067, 89148 Las Vegas Nevada United States</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p><em class="fa fa-mobile-alt col-blue pr-2 pt-1 ft-20"></em>386 348 2873</p>
        </div>
        <div class="col-sm-3">
            <p><em class="fa fa-envelope col-blue pr-2 pt-1 ft-20"></em>pchang@yomail.com</p>
        </div>
        <div class="col-sm-1 text-right"> <em class="fa fa-edit col-blue"></em> </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="h4 blue-clr mt-5 mb-3 font-600">Work Experience</p>
            <ul class="timeline">
                <li>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                        </div>
                        <div class="col-sm-6 text-right ft-sml"> <span class="text-success mr-4">May 2010 Sep 2013</span> <span class="col-blue">3 years 4 Months</span> <a href="#"><em class="fas fa-edit ml-3 col-blue"></em></a> </div>
                        <div class="pl-3">
                            <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                        </div>
                        <div class="col-sm-6 text-right ft-sml"> <span class="text-success mr-4">May 2010 Sep 2013</span> <span class="col-blue">3 years 4 Months</span> <em class="fas fa-edit ml-3 col-blue"></em> </div>
                        <div class="pl-3">
                            <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                        </div>
                        <div class="col-sm-6 text-right ft-sml"> <span class="text-success mr-4">May 2010 Sep 2013</span> <span class="col-blue">3 years 4 Months</span> <em class="fas fa-edit ml-3 col-blue"></em> </div>
                        <div class="pl-3">
                            <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-sm-6">
                    <p class="h4 blue-clr mt-5 font-600 pb-1">Job Preferences</p>
                    <p class="h4 blue-clr mb-3">Category - Accounting</p>
                </div>
                <div class="col-sm-6 text-right pt-5"> <em class="fas fa-edit ml-3 col-blue"></em> </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="h4 blue-clr mt-5 mb-3 font-600">Education & Certification </p>
                    <ul class="timeline timeline1">
                        <li>
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                                </div>
                                <div class="col-sm-6 text-right ft-sml"> <span class="text-success mr-4">May 2010 Sep 2013</span> <span class="col-blue">3 years 4 Months</span> <a href="#"><em class="fas fa-edit ml-3 col-blue"></em></a> </div>
                                <div class="pl-3">
                                    <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                                </div>
                                <div class="col-sm-6 text-right ft-sml"> <span class="text-success mr-4">May 2010 Sep 2013</span> <span class="col-blue">3 years 4 Months</span> <em class="fas fa-edit ml-3 col-blue"></em> </div>
                                <div class="pl-3">
                                    <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                                </div>
                                <div class="col-sm-6 text-right ft-sml"> <span class="text-success mr-4">May 2010 Sep 2013</span> <span class="col-blue">3 years 4 Months</span> <em class="fas fa-edit ml-3 col-blue"></em> </div>
                                <div class="pl-3">
                                    <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="f1-buttons col-sm-6 text-left pl-1">
                    <button class="btn btn-previous rounded-circle btn-circle-pre"><em class="fa fa-arrow-left"></em></button>
                </div>
                <div class="f1-buttons col-sm-6 pr-1">
                    <button type="button" class="btn btn-next">Find Jobs</button>
                </div>
            </div>
        </div>
    </div>
</div>