<div class="container mt-2 mb-5" id="WorkDetailsDiv">
    @{Html.RenderAction("WorkDetails");}
</div>
<div class="modal fade" id="WorkExpModal">   
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelContentWorkExp">
        </div>
    </div>
</div>


