@{
    ViewBag.Title = "Profile";
}

<section class="header-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Create Candidate Profile</h2>
            </div>
        </div>
    </div>
</section>
<section> 
    <div class="mt-5 mb-3">
        <div class="container">           
            <div class="row">
                <div class="col-sm-10 align-self-center">
                    <div class="form-box mb-5 tab-cus tabs">
                        <div class="f1">
                            <div class="row f1-steps text-center">
                                <div class="f1-progress">
                                    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="6" style="width: 19%;"></div>
                                </div>
                                <div class="f1-step active" id="generalDiv" href="#general">
                                    <div class="f1-step-icon"><i class="fa fa-star text-dark-grey"></i></div>
                                    <p class="font-weight-bold">General</p>
                                </div>
                                <div class="f1-step" id="contactDiv" href="#contact">
                                    <div class="f1-step-icon"><i class="fa fa-envelope text-dark-grey"></i></div>
                                    <p>Contact</p>
                                </div>
                                <div class="f1-step" id="preferencesDiv" href="#preferences">
                                    <div class="f1-step-icon"><i class="fa fa-suitcase text-dark-grey"></i></div>
                                    <p>Preferences</p>
                                </div>
                                <div class="f1-step" id="workexpDiv" href="#workexp">
                                    <div class="f1-step-icon"><i class="fa fa-graduation-cap text-dark-grey"></i></div>
                                    <p>Work Exp</p>
                                </div>
                                <div class="f1-step" id="educationDiv" href="#education">
                                    <div class="f1-step-icon"><i class="fa fa-tag text-dark-grey"></i></div>
                                    <p>Education</p>
                                </div>
                                <div class="f1-step" id="previewDiv" href="#preview">
                                    <div class="f1-step-icon"><i class="fa fa-play text-dark-grey"></i> </div>
                                    <p>Preview</p>
                                </div>
                            </div>
                            <div class="wizard-form card">
                                <fieldset id="general">
                                    @{Html.RenderAction("General"); }
                                </fieldset>
                                <fieldset id="contact">
                                    @{Html.RenderAction("Contact"); }
                                </fieldset>
                                <fieldset id="preferences">
                                    @{Html.RenderAction("Preferences"); }
                                </fieldset>
                                <fieldset id="workexp">
                                    @{Html.RenderAction("WorkExp"); }
                                </fieldset>
                                <fieldset id="education">
                                    @{Html.RenderAction("Education"); }
                                </fieldset>
                                <fieldset id="preview">
                                    @{Html.RenderAction("Preview"); }
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center col-sm-2 text-sm-right add-sm-none"> <a href="/" class=""><img src="~/images/advertisement.png" alt="logo" class="logo"></a> </div>
            </div>
        </div>
    </div>
</section>

