@{
    ViewBag.Title = "Profile";
}
<section>
    <div class="mt-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-left mb-4">
                    <h3 class="blue-clr"><i class="fa fa-user-alt pr-2" aria-hidden="true"></i> Create Candidate Profile</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 align-self-center">
                    <div class="form-box mb-5">
                        <div class="f1">
                            <div class="f1-steps text-center">
                                <div class="f1-progress">
                                    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="6" style="width: 6%;"></div>
                                </div>
                                <div id="generalDiv" class="f1-step active" href="#general">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p class="font-weight-bold">General</p>
                                </div>
                                <div id="contactDiv" class="f1-step" href="#contact">
                                    <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                                    <p>Contact</p>
                                </div>
                                <div id="preferencesDiv" class="f1-step" href="#preferences">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Preferences</p>
                                </div>
                                <div id="workexpDiv" class="f1-step" href="#workexp">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Work Exp</p>
                                </div>
                                <div id="educationDiv" class="f1-step" href="#education">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Education</p>
                                </div>
                                <div id="previewDiv" class="f1-step" href="#preview">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Preview</p>
                                </div>
                            </div>
                            <div class="wizard-form container-fluid">
                                <fieldset class="mb-4 mt-3" id="general">
                                    @{Html.RenderAction("General"); }
                                </fieldset>
                                <fieldset class="mb-4 mt-3" id="contact">
                                    @{Html.RenderAction("Contact"); }
                                </fieldset>
                                <fieldset class="mb-4 mt-3" id="preferences">
                                    @{Html.RenderAction("Preferences"); }
                                </fieldset>
                                <fieldset id="workexp">
                                    @{Html.RenderAction("WorkExp"); }
                                </fieldset>
                                <!-- <fieldset>
                                        <div class="container mt-2 mb-5">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="timeline">
                                                            <li>
                                                                <div class="row">
                                                                <div class="col-sm-6 text-left">
                                                                        <p class="h4 col-blue text-left">University of Pennsylvania </p>
                                                                        <p class="ft-sml text-dark">Degree, Major  & Minor</p>
                                                                </div>
                                                                <div class="col-sm-6 text-right">
                                                                    <p class="ft-sml text-success">May 2010 Sep 2013
                                                                        <button type="button" class="btn btn-xs text-dark ml-3">3 years </button><em class="fas fa-edit ml-3"></em> <em class="fas fa-trash-alt text-danger ml-1"></em></p>
                                                                </div>
                                                                <a href="#" class="float-right">21 March, 2014</a>
                                                                <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                                                            </div>
                                                            </li>
                                                            <li>
                                                                    <div class="row">
                                                                    <div class="col-sm-6 text-left">
                                                                            <p class="h4 col-blue text-left">University of Pennsylvania </p>
                                                                            <p class="ft-sml text-dark">Degree, Major  & Minor</p>
                                                                    </div>
                                                                    <div class="col-sm-6 text-right">
                                                                        <p class="ft-sml light-gray">May 2010 Sep 2013 <button type="button" class="btn btn-xs text-dark ml-3">3 years </button><em class="fas fa-edit ml-3"></em> <em class="fas fa-suitcase text-danger ml-1"></em></p>
                                                                    </div>
                                                                    <a href="#" class="float-right">21 March, 2014</a>
                                                                    <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                                                                </div>
                                                                </li>
                                                                <li>
                                                                        <div class="row">
                                                                        <div class="col-sm-6 text-left">
                                                                                <p class="h4 col-blue text-left">University of Pennsylvania </p>
                                                                                <p class="ft-sml text-dark">Degree, Major  & Minor</p>
                                                                        </div>
                                                                        <div class="col-sm-6 text-right">
                                                                            <p class="ft-sml light-gray">May 2010 Sep 2013 <button type="button" class="btn btn-xs text-dark ml-3">3 years </button><em class="fas fa-edit ml-3"></em> <em class="fas fa-suitcase text-danger ml-1"></em></p>
                                                                        </div>
                                                                        <a href="#" class="float-right">21 March, 2014</a>
                                                                        <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                                                                    </div>
                                                                    </li>


                                                        </ul>
                                                        <div class="row">
                                                                <div class="f1-buttons col-sm-6 text-left">
                                                                       <button type="button" class="btn btn-previous btn-pre-cus">Previous</button>
                                                                       <button type="button" class="btn btn-save">Add</button>
                                                                   </div>
                                                                     <div class="f1-buttons col-sm-6">
                                                                         <button type="button" class="btn btn-save">Save</button>
                                                                         <button type="button" class="btn btn-next">Next</button>
                                                                     </div>
                                                                   </div>


                                                    </div>
                                                </div>
                                            </div>
                                </fieldset> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center col-sm-2 text-sm-right add-sm-none">
                    <a href="/" class=""><img src="~/images/advertisement.png" alt="logo" class="logo"></a>
                </div>
            </div>
        </div>
    </div>
</section>

