body{
    font-family: 'Open sans', sans-serif;
    background-color: #fbfbfb; 
}
.header-bg {
    background: #104f85;
}
.header-bg h2 {
    margin-bottom: 0;
    padding: 15px 0;
    color: #fff;
    font-weight: normal;
    font-size: 1.5rem;
}
p{
    font-size: 15px;
}
/* Login Page Css */
.fnt-13{
    font-size:13px !important; 
}
.login .md-form .prefix {
    top: 0.8rem;
    font-size: 1.55rem;
    /* left: 0.7rem; */
}
.login .md-form .prefix~label {
    margin-left: 1.8rem;
}
.login .md-form .prefix~input, .md-form .prefix~textarea {
    margin-left: 1.85rem;
    width: calc(100% - 1.7rem);
}
.login .custom-control-label::before{
    top: .37rem;
}
.login .custom-control-label::after{
    top: .37rem;
}
/* End Login Page Css */

/* Add User Page Css  */
.bg-blue{
    background-color: #124e82;
}
.box-shadow{
    box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.15);
}
.sub-heading {
    color: #4b4f52;
}
.add-user label{
    margin-left: 10px !important;
    padding-left: 0px !important;
}
.btn-light-cus{
    border: 1px solid #d4d4d4!important;
    background-color: transparent!important;
    color: #080808!important;
}
.btn-light-cus:hover{
    border: 1px solid #d4d4d4!important;
    color: #080808!important;
}
/* End Add User Page Css  */

/* Jobs Employer Page Css  */
.mtop{
    margin-top: 21px;
}

/* End Jobs Employer Page Css  */

/* Top Right drop down  */
.top-right-cus {
    position: absolute;
    top: 56px;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 9rem;
    padding: 0.5rem 1rem;
    margin: .125rem 0 0;
    font-size: 0.9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    right: 8px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);    
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-right-cus li {
    padding: 5px;
}
.border-dark-3 {
    border: 3px solid #d3d5d7;
}
.dropdown-toggle::after {
    display: none !important;
}
/* End Top Right drop down  */

/* Login page  */
.pwd-show-hide{
    position: absolute;
    right: 1px;
    top: 7px;
}
.pwd-show-hide a{
    color:#124e82;
}
/* .cus-login label {
    left: 3px !important;
    top: 0;
    background: #f6f6f6 !important;*/
}

.btn{
    border-radius: 3px;
}
a{
    color: #124e84;
}
.btn-submit{
	color:#fff;
}
.btn-submit:hover{
	color:#fff;
}
.navbar {
    /* box-shadow: 0px 1px 2px #9ac8f1; */
    background-color: #fff !important;
}
.login-bg{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center; 
    display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
}
.bl-bg{
    background-color: rgba(243,246,248,.92);
    border: 1px solid #d3d8db;
	padding: 0 15px;
}
.login-sec{
	color: #fff;
	padding: 40px;
	position: relative;
}
.login-sec input {
    color: #838c91;
}
.login-input{
    padding-top: 25%;
}
.feilds input{
	width: 100%;
	background-color:transparent;
	box-shadow: none;
	margin-bottom: 20px;
	border-radius: 0;
	padding-left: 45px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.feilds{
	position: relative;
	    margin-bottom: 35px;

}

.feilds em{
    position: absolute;
    left: 14px;
    top: 15px;
    color: #838c91;
}

.feilds input::placeholder{
	color:#64798b;
}

.feilds input{
	font-weight: 300;
	letter-spacing: 1px;
	color:#8b8e91;
}
.feilds input:focus{
	background-color:transparent;
	box-shadow: none;
	border-radius: 0;
	  border-color: #124e82;
	  color:#5a6b7a;
}
.forg{
	color: #205983;
}

.forg:hover{
    color: #184c70;
}
.btn-blue{
	background-color: #124e82 !important;
	/* padding: 12px 15px;
	font-weight: 500; */
	font-size: 17px;
	/* width: 100%;
	border-radius: 0;
    letter-spacing: 2px;
    color: #ffff; */
}
.btn-blue:hover{
	background-color: #0b4171;
}
.ft-13{
	font-size: 13px;
}
.ft-14{
	font-size: 14px;
}
.wt-bg{
    background-color: rgba(158, 179, 196, 0.2);
    border: 1px solid #c2c9cf;
	padding:40px;
}
.bord{
	border: 1px solid #f1f1f1;
}
.logo{
	max-width: 280px;
}
.col-blue{
	color:#124e82;
}
.lttr-spc1{
	letter-spacing: 4px;
}
.col-grey{
	color:#777a79;
}
.lttr-spc2{
    letter-spacing: 1px;
    line-height: 1.5;
}
.clr-blue{
    color:#ffff;
    background-color: #124e82;
}
.abs-btm{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 96px;
}
.clr-h3{
    color: #216baa;
}
a:hover{
    text-decoration: none;
}
.custom-control-input {
    z-index: 111;
    left: -18px;
    top: 9px;
}
.remember {
    /* padding-left: 1.3rem; */
    top: 0px;
}



/* Form */
/* form starting stylings ------------------------------- */
.group 			  { 
    position:relative; 
    margin-bottom:30px; 
  }
  input 				{
    font-size:15px;
    padding:13px;
    display:block;
    width:100%;
    border:1px solid #bac6d0;
    background-color: transparent;
  }
  input:focus{
      outline:none;
  }

.log-pass:focus ~ label, .log-pass:valid ~ label {
    top: -11px;
    left: 11px;
    font-size: 14px;
    background-color: rgba(243,246,248);
    padding: 0 10px;

}
.log-user:focus ~ label, .log-user:valid ~ label {
    top: -11px;
    left: 11px;
    font-size: 14px;
    background-color: rgba(243,246,248);
    padding: 0 10px;

}
  

  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  .bg-sec{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }


  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }

  
  /* Form End */

/* End Login */

/* Register Page */

.register-list li{
color: #6c7d8c;
list-style-type: none;
padding: 0 0 5px 0;
font-size: 15px;
}

/* End Register Page */

/* Home Page CSS start */
.gray-heading{
    color:#6c6b6b;
}
.blue-clr{
    color: #124e82;
}

.pallax-bg {
    background-image: url(../images/premium-jobs-bg.png);
    background-attachment: fixed;
}
.light-gray{
    color: #2e2e2e;
}
.icon-size{
    font-size: 2.5rem;
    color:#2873b4
}
.card-header-bg{
    background-color: #f0f4f7;
}
.card.card-hover:hover {
    background-color: #1d609a;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

.card.card-hover:hover .card-body em, .card.card-hover:hover .card-body p{
    color: #fff;
}

.mid-sec {
    background-color: #f0f4f7;
    border: 1px solid #b9c8d8;
    text-align: center;
    border-radius: 30px;
    color: #5c84a4;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 57%;
    margin: 0 auto;
    padding: 7px;
}

.card-body{
    position: relative;
	border-radius: 3px;
}


.box-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px 130px;
}
.place-banner {
    background-image: URL(../images/place-banner-bg.png);
}
.career-banner{ 
	background-image: URL(../images/career-banner.png);
	color:#fff;
}
.condidate-btn {
    background-color: #0030;
    border: 1px solid #86afd4;
}
.box-wrapper .btn-blue {
    width: auto;
    border-radius: 3px;
    font-weight: normal;
	position:relative;
}
.box-wrapper .btn-blue .fa {
    margin: 0px 12px;
}
.fa-reply-all:before {
    content: "";
    background-image: URL(../images/tie.png);
    background-repeat: no-repeat;
    height: 27px;
    width: 16px;
    position: absolute;
    top: 26%;
    left: 13px;
}
.light-border{
    border: 1px solid #edf0f3;
}
.light-border:hover{
    border: 1px solid #edf0f3;
    background: #eaf0f4;
    color:#6d6c6c;
}
.card-footer-bg{
    background: transparent;
}
.content-sec h2:before {
    content: "";
    position: absolute;
    background-color: #155994;
    width: 60px;
    height: 1px;
    transform: translate(100%);
    top: 75px;
}
.content-sec h2:after {
    content: "";
    position: absolute;
    background-color: #155994;
    width: 65px;
    height: 1px;
    transform: translate(-185%);
    top: 82px;
}  
.content-sec h2.ba-line:before {
    content: "";
    position: absolute;
    background-color: #155994;
    width: 60px;
    height: 1px;
    transform: translate(60%);
    top: 75px;
}
.content-sec h2.ba-line:after {
    content: "";
    position: absolute;
    background-color: #155994;
    width: 65px;
    height: 1px;
    transform: translate(-150%);
    top: 82px;
} 
.card-sec{
    border-radius:0;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(161,165,168,0.65);
    -moz-box-shadow: 0px 2px 1px 0px rgba(161,165,168,0.65);
    box-shadow: 0px 2px 1px 0px rgba(161,165,168,0.65);
}

/* End Home Page CSS */

/* Create Profile Page CSS */
.profile-drop-icon{
    position: absolute;
    right: 16px;
    top:44px;
}
.margin-top20{
    margin-top:20px;
}
.miles{
    width: 100px;
    float: right;
    color: rgb(137, 137, 137);
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding-left: 0;
    border-left: 1px solid #ced4da;
}
.location input.form-control {
    border-color:#acadad;
    border-radius: 0;
    font-size: 14px !important;
    border:none;
    border-bottom: 1px solid #ced4da;
}
.location .dropdown button {
    background-color: transparent;
    border-left:1px solid #acadad;
    border-radius: 0;
    border-color: #d5d6d6 !important;
    background-color: #fff;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 8px;
    color: #777b7d;
    padding-left: 10px;
    margin-top: 2px;
}
.location .dropdown button:hover {
    border-color: #d5d6d6 !important;
    border: none;
    border-left:1px solid #acadad;
    border-bottom:1px solid #acadad;
}
.order-by{
    width: 160px;
    float: right;
    font-size: 14px;
}

.drop {
    /* display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5; */
    color: rgb(137, 137, 137);
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom:1px solid #acadad;
    border-radius: 0;
    padding-left: 0;
}
.gj-datepicker-md [role=right-icon] {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    color: #3f3f3f;
}
.gj-textbox-md:active, .gj-textbox-md:focus {
    border-bottom: 1px solid rgba(0,0,0,.42);
}
.gj-datepicker-md [role=right-icon]:hover, .gj-datepicker-md [role=right-icon]:focus {
    color: #124e84;
}
.upload-file {
    padding-left: 0 !important;
}
.upload-file::-webkit-file-upload-button {
    border: 1px solid #c7c7c7;
    color: rgb(100, 100, 100);
    font-size: 14px;
    background-color:transparent;
    padding:6px 15px;
    border-radius: 3px;
  }
  
/* .upload-file-border {
    border-bottom: 1px solid #ababab;
  }
.upload-btn-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
.upload-btn-wrapper .btn {
    border: 1px solid #c7c7c7;
    color: rgb(100, 100, 100);
    font-size: 14px;
    background-color:transparent;
    padding:0px !important;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .quesmark{
    position: relative;
    display: inline-block;
    float:right;
    right: 0;
    top:25px;
} */

/* .image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
} */

.btn-hover{
}
.btn-hover:hover{
    color: #fff !important;
}
.wizard input[type=file] {
    width:100px;
	background-color:red;
}
.em-float-right-modal {
    position: absolute;
    right: 17px;
    top: 21px;
}
.tab-cus input:focus{
    /* color: #124e84 !important; */
    border-color: #124e84 !important;
}

.font-600{
    font-weight: 600;
}
.ft-20{
    font-size: 16px;
}
/* Previous */
button.btn-circle-pre {
    background-color: transparent !important;
    color: #999b9c;
    border: 1px solid #999b9c;
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    text-align: center;
    padding: 0;
}
button.btn-circle-pre:hover {
    background-color: #4c5d6c !important;
    color: #fff;
    border: 1px solid #4c5d6c;
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    text-align: center;
    padding: 0;
}
button.btn-circle-next {
    background-color: transparent !important;
    color: #124e84;
    border: 1px solid #124e84;
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    text-align: center;
    padding: 0;
}
button.btn-circle-next:hover {
    background-color: #124e84 !important;
    color: #fff;
    border: 1px solid #4c5d6c;
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    text-align: center;
    padding: 0;
}
/* End Previous */
.btn-boder{
    border:1px solid #124e82 !important;
    color: #124e82 !important;
}
.btn-fill{
    background-color: #124e82 !important;
    color: #fff !important;
}
.pr-0{
    padding-right: 0 !important;
}
.btn-circle-pre {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #999b9c;
    color: #999b9c;
    padding:8px;
}
.btn-circle-pre:hover {
    background-color:#4c5d6c;
    border: 2px solid #4c5d6c;
    color: #fff;
}
.btn-circle-next {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #124e84;
    color: #124e84;
    padding:8px;
}
.btn-circle-next:hover {
    background-color:#124e84;
    border: 2px solid #124e84;
    color: #fff;
}
.custom-checkbox .custom-control-label::before {
    /* border-radius: 0.15rem;
    box-shadow: none !important; */
    border-radius: 0.12rem;
    box-shadow: none !important;
    border: 1px solid #c4c8cd;
}
.custom-control-label::before {
    background-color: #d1d5da;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #124e84;
}
.wizard-group em {
    position: absolute;
    top: 5px;
    left: 81px;
    color: #838c91;
}
button.btn-sm{
    font-size: 14px;
}
.wizard-span {
    position: relative;
    left: 32px;
}

.remember.wizard-checkbox {
    padding-left: 1rem;
    top: 30px;
    left: 15px;
}

.wizard-form.container-fluid {
    border: 1px #bcbcbc solid;
    margin: 0 -15px;
    padding: 25px 15px;
}
.btn.btn-previous.btn-pre-cus{
    background-color: #4c5d6c;
    color:#fff;
}
.btn.btn-light-gray{
    background-color: #eeeeee;
    color:#595959;
}
.profile-form input {
    font-size: 15px;
    padding: 13px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #bac6d0;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}
.profile-form label {
    font-size: 0.9rem;
    color: #757575;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 13px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.profile-form input:focus ~ label, input:valid ~ label {
    background-color: transparent;
  }

.group.profile-form label{
    left: 10px;
    padding-top: 3px;
}

.ft-sml{
    font-size: 14px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    margin-left: -32px;
}
ul.timeline:before {
    content: '';
    background: #124e82;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: url('../images/time-line.png');
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 12px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: -2px;
}
ul.timeline1 > li:before {
    content: url('../images/cap-fill-border.png');
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: -2px;
}
ul.timeline2 > li:before {
    content: url('../images/suitcase.png');
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: -2px;
}
.border-btm{
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 30px;
}

.switch-btn-1 label {
    pointer-events:none !important;
  }
.switch-btn-1 {
    height: 2rem;
    position: relative;
    outline: 0;
    color: #fefefe;
    user-select: none;
    display: inline-block;
    float:left;
    top:30px;
  }

  .switch-btn-1  span{
    position: relative;
    bottom: 9px;
    margin-left: 10px;
  }
  .switch-btn-1 .switch-input {
    position: absolute;
    margin-bottom: 0;
    opacity: 0;
  }
  .switch-btn-1 .switch-paddle {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 1.2rem;
    border-radius: 1rem;
    background: #d1d2d2;
    border: 1px solid #aeb6ba;
    transition: all 0.25s ease-out;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
  }
  .switch-btn-1 .switch-paddle::after {
    position: absolute;
    top: -0.3rem;
    left: -3px;
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    transform: translate3d(0, 0, 0);
    border-radius: 1rem;
    background: #9ea5a9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    transition: left 250ms cubic-bezier(0.34, 1.61, 0.7, 1), transform 250ms cubic-bezier(0.34, 1.61, 0.7, 1);
    content: "";
  }
  .switch-btn-1 .switch-text {
    display: block;
    width: 100%;
  }
  .switch-btn-1 .switch-text::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 0.5rem;
    right: -2.5rem;
    color: #333;
  }
  .switch-btn-1 input:checked ~ .switch-paddle {
    background: #b0d3f3;
    border: 1px solid #98b8d5;
  }
  .switch-btn-1 input:checked ~ .switch-paddle::after {
    position: absolute;
    left: 2rem;
    top: -0.3rem;
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    transform: translate3d(0, 0, 0);
    border-radius: 1rem;
    background: #124e84;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    transition: left 250ms cubic-bezier(0.34, 1.61, 0.7, 1), transform 250ms cubic-bezier(0.34, 1.61, 0.7, 1);
    content: "";
  }
  .switch-btn-2 input[type=checkbox] {
    width: 100% !important;
    margin-top: -6px;
    margin-left: 3px;
}
  .switch-btn-2 {
    height: 2rem;
    position: relative;
    outline: 0;
    color: #fefefe;
    user-select: none;
    display: inline-block;
    float:right;
    top:30px;
  }

  .switch-btn-2  span{
    position: relative;
    bottom: 23px;
    margin-left: 10px;
  }
  .switch-btn-2 .switch-input {
    position: absolute;
    margin-bottom: 0;
    opacity: 0;
  }
  .switch-btn-2 .switch-paddle {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 1.2rem;
    border-radius: 1rem;
    background: #d1d2d2;
    border: 1px solid #aeb6ba;
    transition: all 0.25s ease-out;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
  }
  .switch-btn-2 .switch-paddle::after {
    position: absolute;
    top: -0.3rem;
    left: -3px;
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    transform: translate3d(0, 0, 0);
    border-radius: 1rem;
    background: #9ea5a9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    transition: left 250ms cubic-bezier(0.34, 1.61, 0.7, 1), transform 250ms cubic-bezier(0.34, 1.61, 0.7, 1);
    content: "";
  }
  .switch-btn-2 .switch-text {
    display: block;
    width: 100%;
  }
  .switch-btn-2 .switch-text::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 0.5rem;
    right: -2.5rem;
    color: #333;
  }
  .switch-btn-2 input:checked ~ .switch-paddle {
    background: #b0d3f3;
    border: 1px solid #98b8d5;
  }
  .switch-btn-2 input:checked ~ .switch-paddle::after {
    position: absolute;
    left: 2rem;
    top: -0.3rem;
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    transform: translate3d(0, 0, 0);
    border-radius: 1rem;
    background: #124e84;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    transition: left 250ms cubic-bezier(0.34, 1.61, 0.7, 1), transform 250ms cubic-bezier(0.34, 1.61, 0.7, 1);
    content: "";
  }
 /* .em-float-right{
    position: absolute;
    right: 73px;
    top: 10px;
  }*/
  .em-float-right .ques{
    position: absolute;
	right: 19px;
    top: 28px;
  }
  .em-float-right.modalpopup{
    position: absolute;
    right: -126px;
    top: 20px;
    min-width: 160px;
  }
  .em-float-right.modalpopup1{
    position: absolute;
    right: -37px;
    top: 20px;
    min-width: 160px;
  }

/* End Create Profile Page CSS */

/* Candidates Page CSS */
.drop-icon-candi{
    position: absolute;
    right: 9px;
    top: 20px;
}
.mid-sec {
    background-color: #104f85;
    border: 1px solid #b9c8d8;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    padding: 7px;
}
.card-body {
    position: relative;
}
.margin-top25 {
    margin-top: 21px;
}
.candidate.form-control{
    height: auto;
    width: auto;
}
.candidate.form-control:focus{
    box-shadow:none;
}
.input-focus.form-control:focus{
    box-shadow:none;
}
/* End Candidates Page CSS */


/* List Page */
.md-form label {
    font-size: 0.95rem;
}
.text-light-grey{
    color:#ababab;
}
.drop-icon{
    position: absolute;
    right: 9px;
    top: 72px;
}

/* DropDown */
.custom-select {
    font-size:15px; 
  }
  .custom-select:hover {
    box-shadow:none;
  }
  .custom-select:focus {
    box-shadow:none;
  }
  
  /* .custom-select select {
    display: none;
  } */
  
  
  /* End DropDwon */
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.06), 0 2px 10px 0 rgba(0,0,0,.06);
}
.md-form{
    margin-bottom:0px;
}
.featureInfo i {
    color: #6e7b86;
    padding-right: 5px;
}
.featureInfo li:nth-child(1) {
    padding-left: 0;
    border-left: none;
}
.featureInfo li {
    display: inline-block;
    padding: 0px 0px 0 10px;
    font-size: 13px;
}
.innerfeat li:last-child {
    display: inline-block;
    background: #ed1c24;
    margin-top: 10px;
    padding: 3px 9px;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
}
.widget {
    margin: 0;
    font-size: 13px;
}
.item-filters-array {
    margin: 0;
    padding: 0;
}
.item-filter:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.item-filter {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e9e9e9;
    line-height: normal;
    background-color: #fff;
}
.item-filter input:not([type="checkbox"]), .item-filter input:not([type="radio"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="checkbox"], input[type="radio"] {
    margin: 4px 0 0;
    line-height: normal;
    width: auto;
    height: auto;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.checkbox-filter {
    position: absolute;
    left: -9999px;
}
.checkbox-filter-label {
    margin: 0;
    padding: 12px;
    display: block;
    cursor: pointer;
    position: relative;
    top: 2px;
    color: #828282;
}
.checkbox-filter:checked + label .item-filter-tag-bg {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.item-filter-tag-bg.job-type-full-time, .item-badge.job-type-full-time {
    background-color: #0072bc;
}
.checkbox-filter:checked + label::before {
    background-color: #00c6ff;
}
.checkbox-filter-label::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #e9e9e9;
    position: absolute;
    right: 12px;
    border-radius: 2px;
    -webkit-transition: background-color .18s ease;
    transition: background-color .18s ease;
}
.checkbox-filter:checked + label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.checkbox-filter-label::after {
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
    color: #fff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: opacity .18s ease, -webkit-transform .18s ease;
    transition: opacity .18s ease, -webkit-transform .18s ease;
    transition: opacity .18s ease, transform .18s ease;
    transition: opacity .18s ease, transform .18s ease, -webkit-transform .18s ease;
}
.checkbox-filter:checked + label .item-filter-tag-badge {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    color: #fff;
}
.item-filter-tag {
    margin-left: -12px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    display: inline-block;
    height: 18px;
    padding: 1px 20px 2px 10px;
    min-width: 96px;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    -webkit-transition: color .18s ease .075s;
    transition: color .18s ease .075s;
    transition-delay: 0.075s;
}
.item-filter-tag-bg.job-type-part-time, .item-badge.job-type-part-time {
    background-color: #f26c4f;
}
.item-filter-tag-bg.job-type-freelance, .item-badge.job-type-freelance {
    background-color: #ed145b;
}
.item-filter-tag-bg.job-type-full-time, .item-badge.job-type-full-time {
    background-color: #0072bc;
}
.item-filter-tag-bg.job-type-contract, .item-badge.job-type-contract {
    background-color: #1cbbb4;
}
.item-filter-tag-bg {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #00c6ff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transform: translateX(calc(-100% + 5px));
    -ms-transform: translateX(calc(-100% + 5px));
    transform: translateX(calc(-100% + 5px));
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
}
.listWrpService {
    padding:20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04);
}
.listWrpService:hover {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}

.notifications{
    padding-left: 20px; 
    padding-right: 20px;   
}
.group.list-form label{
    left: 10px;
    padding-top:0px !important;
}
.search-drop select{
    width: 160px;
    float: right;
    font-size: 13px;
    border:1px solid #d5d6d6 !important;
    border-radius: 0;
}
.top-search .dropdown button {
    background-color: transparent;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    margin-left: -2px;
    border-radius: 0;
    border-color: #d5d6d6 !important;
    background-color: #fff;
	font-size: 13px;
	padding-top: 9px;
    padding-bottom: 8px;
	color:#777b7d;
}

.input-group-append .fa-search:before {
    position: relative;
    top: 4px;
}
.top-search input {
        border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-color: #d5d6d6 !important;
    border-right: 0;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
	font-size: 13px;
}
.btn-fill-search{
    background-color: #124e82 !important;
    color: #fff !important;
    padding-bottom: 16px;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.top-search .form-control:focus {
    box-shadow: none;
    border:1px solid #124e82 !important;
}

/* .f1-step.active:before{
    height: 27px;
    width: 35px;
    position: absolute;
    background-image: url(./images./triangle-icon.png);
    background-repeat: no-repeat;
    top: 85px;
    left: 50px;
    content: "";
} */

.btn-primary.orderby:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow:none;
    background: transparent;
    color:#124e82;
}
.search-box{
    color:#929293;
}
.search-box.sec-left{
    border: none;
    background: transparent;
}
.search-box.mid{
    background: transparent;
    border-right: none;
    border-top: none;
    /* border-left: none; */
    border-bottom: none;
    color:#929293;
    border-radius: 0;
}

/* Top Nav */

.sm-menu{overflow: hidden;}

.sm-menu a {
    color: #474b4e;
}
.sm-menu a:hover {
    color: #124e82;
}
.sm-menu ul {
    color: #474b4e;
}
.sm-menu li{
    list-style: none;
    float: left;
    margin: 5px 10px;
    padding: 5px;
    font-size: 18px;
}
.sm-menu li span{
    position: absolute;
    display: inline-block;
    top: -10px;
    margin-left: -8px;
    font-weight: 700;
    height: 19px;
    width: 19px;
    line-height: 17px;
    text-align: center;
    color: rgb(65, 65, 65);
    font-size: 11px;
    background-color: #f8f8f8;
    border-radius: 50%;
    position: relative;
    border: 1px solid #e4e4e4;
}
/* End Top Nav */

.compatibility .text {
    font-size: 15px;
    margin: 10px;
}
.tab-label{
    padding-bottom: 10px;
}
.tab-label label{
    color: #666a6c;
} 
.tab-cus form {
    margin-top: 15px;
    margin-bottom: 20px;
}
.tab-cus input {
    border: none;
    border-bottom: 1px solid #acadad;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left:0px;
    outline: none;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}

button.btn.btn-primary.btn-custom {
    background-color: transparent;
    border: 0;
    color: #acadad;
    border-bottom: 1px solid #acadad;
    border-radius: 0;
    width: 150px;
    text-align: left;
}

button.btn.btn-primary.btn-custom:focus {
    border-bottom: 1px solid #124e82;
}

.btn-custom::after {
    position: absolute;
    right: 0;
    top: 15px;
    right: 12px;
}

.tabs label{
    top: 5px;
}
.tab-cus .custom-control-label::before {
    top: 0.4rem;
}

.tab-cus .custom-control-label::after {
    top: .43rem;
}

.tab-cus input[type=checkbox] {
    width: 20%;
    /* margin-top: -6px;
    margin-left: 35px; */
}

/* Tab css */
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    padding-bottom: 11px;
    border: none;
    border-bottom: 2px solid #124e84;
    margin: 0;
}
.tab .nav-tabs li a{
    padding: 15px 20px;
    margin: 0 10px -1px 0;
    font-size: 17px;
    font-weight: 600;
    color: #293241;
    border-top: 3px solid #fff;
    border-bottom-color: transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: none;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}
.user-management li a {
    padding: 15px 14px !important;
    font-size: 15px !important;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li a.active{
    background: #fff;
    border-top: 3px solid #124e82;
    border-bottom-color: transparent;
    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
    color: #124e82;
}
.tab .nav-tabs li a:before {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li a.active:before{ transform: scaleX(1); }
.tab .tab-content{
    padding: 10px 20px;
    font-size: 17px;
    color: #6f6f6f;
    line-height: 30px;
    letter-spacing: 1px;
    position: relative;
	border: 1px solid #acadad;
}


 .dataTables_length{
    display: none;
}

.dataTables_wrapper label{
    position: relative;
}

@media only screen and (max-width: 479px){
    .tab .nav-tabs{ border: none; }
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .nav-tabs li a{
        margin: 0;
        border-bottom: 2px solid transparent;
    }
    .tab .nav-tabs li a:before{
        content: "";
        width: 100%;
        height: 2px;
        background: #079fc9;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}
/* End List Page */

/* Detail Page */
.btn-border{
    border: 1px solid #124e84;
    color: #124e84;
    background: transparent;
    border-radius: 3px;
}
.sm-menu-detail{overflow: hidden;}

.sm-menu-detail a {
    color: #9c9c9c;
}
.sm-menu-detail a:hover {
    color: #124e82;
}
.sm-menu-detail ul {
    color: #868686;
}
.sm-menu-detail li{
    list-style: none;
    float: left;
    margin: 5px 5px;
    padding: 5px;
}
.info{
    color: #124e82 !important;
}
/* Detail Page */

/* Dashboard Page */
/* #datatable_filter:after {
    position: absolute;
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    right: 10px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #000;
} */
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 10px;
}

.dataTable th::before, .dataTable th::after{
    visibility: hidden;
}

.dataTable th, .dataTable td, .dataTables_info, .pagination li{
    font-size: 14px;
}



.table-bordered th{
    border-bottom: 0 !important;
}

#datatable_wrapper input:focus{
    box-shadow: none;
}
.dashboard-checkbox {
    padding-left: 1rem;
    top: 10px;
    left: 6px;
}
.dashboard-control-input {
    z-index: 111;
    left: -7px;
}

table.dataTable {
    border-collapse:collapse !important;  
}
/* .table-responsive.cus-width {
    width: 104%;
} */

#datatable_wrapper input{
    border: none;
    border-bottom:1px solid #acadad;
    color:#acadad;
}

#datatable_filter label{
   top: 0;
   left: 0;
   pointer-events: inherit;
   color: #fff;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #124e82 !important;
    border-color: #124e82 !important;
}
/* End Dashboard Page */

/*  Employer Profile Page */

.dropdown .col-grey {
    padding-right: 8px;
}
.btn.btn-blue.condidate-btn {
    border: 1px solid #e0e1ef;
}
.btn.clr-blue.pl-5.pr-5.pt-2.pb-2 {
    line-height: 25px;
}
.btn.clr-blue:hover {
    color: #fff;
}
.newsletter input{
    color:#fff;
}
.login-btn input[type="submit"] {
    color: #fff;
}
/* #form-sec .group label {
    background: #f6f6f6;
    padding: 0 5px;
    margin-left: -5px;
} */

.log-label #form-sec .group label {
    margin-left: -15px;
}
.text-dark-grey {
    color: #999999;
    font-size: 22px;
    line-height: 49px;
}
.active .text-dark-grey, .activated .text-dark-grey {
    color: #fff;
}
.ctm-btm{width:75px;}

.switch-btn-1 input[type=checkbox] {
    width: 27%;
    margin-top: 9px;
    margin-left: -1px;
}
.switch-btn-2 input[type=checkbox] {
    width: 27%;
    margin-top: -8px;
    margin-left: 8px;
}
.emp-pro input {
    border: none;
    border-bottom: 1px solid #acadad;
    padding-bottom: 18px;
    padding-top: 22px;
    padding-right: 10px;
    padding-left:0px;
    outline: none;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}

.emp-pro textarea {
    border: none;
    border-bottom: 1px solid #acadad;
    padding-bottom: 18px;
    padding-top:22px;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0;
}
.emp-pro textarea:focus {
    box-shadow:none;
}
.emp-pro label{
    background-color: transparent !important;
}

.border-sqr{
    border: 1px #bcbcbc solid;
}
.datepicker {
    font-size: 0.875em;
    padding: 10px;
}
.datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
}
/* End Employer Profile Page */

/* Post Page */
.circle-cus {
    width: 20px !important;
    height: 10px !important;
    padding: 10px;
    border-radius: 35px;
    font-size:14px ;
    line-height: 1.33;
    color: #fff !important;
    background-color:green;
}
.padding-cus{
    padding-top: 19px;
}
.padding-cus24{
    padding-top: 24px;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: rgb(137, 137, 137);
    background-color: transparent;
    border-color:transparent;
}
.btn-primary-cus{
    color: rgb(137, 137, 137) !important; 
}
.btn-primary-cus:focus{
    box-shadow: none;
}
.dropdown-menu-cus{
    width: 100%;
}

button a{
    color: #fff;
}
button a:hover{
    color: #fff;
}
.drop.dropdown-item.active, .dropdown-item:active{
    background-color: #124e84;
}
.bg-blue{
    background-color:#124e82;
}
.card-pricing.popular {
    z-index: 1;
    border: 3px solid #124e82;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}
button.btn.btn-primary.btn-custom-drop {
    background-color: transparent;
    border: 0;
    color: rgb(137, 137, 137);
    border-bottom:1px solid #acadad;
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding-left: 0;
}
.post-em{
    right: 2px;
    position: absolute;
    bottom: 9px;
}
.dropdown-menu{
    width;100% !important;
}
/* End Post Page */

/* Welcome Page CSS */
p.welcomepar{
    text-align: justify;
    font-size: 0.9em;
    color: #7b7b7b;
}
h5.welcomheading{color:#124e82;
    font-size: 1em;
    padding: 15px 0px 8px 0px;

}
/* End Welcome Page CSS */

/* Setting Page CSS */
.table-btn{
    position:absolute;
    top:37px;
    z-index: 9999;
}
.data-cus input {
    margin-bottom: 0px;
}
/* div.dataTables_wrapper div.dataTables_filter .tab-cus {
    margin-bottom: -18px !important;
}
/* End Setting Page CSS */

.bg-footer {
    background-color: rgba(6, 72, 116, 0) !important;
    border-radius: 0px;
    padding: 24px 6px;
}
.search-box .input-group-text {
    background-color:rgba(6, 72, 116, 0);
}
.search-box .input-group-text {
    background-color: #06487400;
    position: absolute;
    height: 100%;
    right: -1px;
    z-index: 99;
    color: #6ba7df;
    border: 0px;
}

footer .navbar-dark .navbar-nav .nav-link {
    font-size: 16px;
}
.search-box {
    position: relative;
}
.form-inline .custom-select, .form-inline .input-group {
    width: 100%;
}
/* input.form-control {
    border-color: #2197e6;
    border-radius: 0;
} */

footer {
    background-image: URL(../images/footer-bg.png);
    background-size: cover;
    background-position: center;
	    color: #fff;
}
footer li {
    font-size: 14px;

}

.navi-sec li{
    display: inline-block;
    padding: 0 6px;
}
ul.list-unstyled.quick-links li {
    margin-bottom: 16px;
    color: #afc5d4;
}
footer h5 {
    font-size: 18px;
    font-weight: normal;
}
footer h3 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.search-box .form-control {
    border-color: #7f9fb5;
    border-radius: 0;
    background-color: #054c7b;
    padding: 24px 16px;
}

.search-box .form-control::placeholder{
	color: #6ba7df;
}
.copy-right {
    padding: 24px 0px;
    background-color: #04416a;
}

.form-box .log-user:valid ~ label{
    background-color: transparent;
}

/* View transaction css */
.stripe {
    background-color:#124e82;
    padding:10px;
    color: #fff;
}
.stripe p {
  color: #444444;
  font-size: 15px;
  margin: 1%;
  margin-left: 12%;
  font-weight: 600;
}
.reservationnumber h6 {
  color: #444444;
  font-size: 15px;
  margin: 3%;
  font-weight: 600;
}
.ticket h3 {
  COLOR: #414141;
  FONT-SIZE: 22PX;
  FONT- WEIGHT: 600;
}
.oneside img {
    padding-left: 58px;
}
.oneside img {
    padding-left: 58px;
}
.secondsidedetail h6 {
    color: #272727;
    font-weight: 400;
    font-size: 14px;
}
.oneside h4 {
  font-size: 14px;
  margin-top: 4%;
  font-weight: 600;
}
.secondside h6 {
  color: #272727;
  font-weight: 700;
  font-size: 14px;
}
.ticket hr {
  width: 95%;
  margin-top: 7px;
  border: 0;
  border-bottom: 2px dashed #e8e8e8;
  margin-left: 3%;
}
.printout .btn {
    width: 100%;
    background-color: #17627f;
    font-size: 20PX;
    font-weight: 600;
}
.nextride .btn {
    width: 100%;
    background-color: #316521;
    font-size: 20PX;
    font-weight: 600;
}
.booktitle .ticket {
  border: 1px solid #ccc;
  border-bottom: 0;
  padding-bottom: 15px;
}
.cutting{
  background: url('../images/cuttingSlice.png');
  height: 40px;
  margin-top: -15px;
  margin-right: 1px;
  margin-left: 1px;
}
/* End View transaction css */

/* MultiSelect Page Css */
.btn-default:not([disabled]):not(.disabled).active, .btn-default:not([disabled]):not(.disabled):active, .show>.btn-default.dropdown-toggle {
    background-color: transparent !important;
}
.btn-default.dropdown-toggle {
    background-color:transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0 !important;
    color: #757575 !important;
    padding-left: 0;
    text-transform:none;
    font-size: 0.9rem;
    padding-bottom:3px;
}
.btn-default.dropdown-toggle:focus, .btn-default.dropdown-toggle:hover {
    background-color: transparent !important;
    border-bottom:1px solid #4285f4 !important;
}
.m-sel{
    max-width: 100% !important;
}
.multiselect-container.dropdown-menu {
    transform: none !important;
    position:absolute !important;
    top:50px !important;
 
}
.multiselect-native-select {
    display: block;
}
.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    margin-left:0px;
}
.multiselect-container .input-group {
    margin: 5px;
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer
}
.multiselect-container>li>a>label {
    padding: 5px 0 3px 12px;
}
.multiselect-container label>input[type=checkbox] {
    display: inline-block;
    width: auto;
    margin-right:10px;
}
.multiselect-container label::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #e9e9e9;
    position: absolute;
    left: 9px;
    margin-top: 4px;
    border-radius: 2px;
    -webkit-transition: background-color .18s ease;
    transition: background-color .18s ease;
}
.multiselect-container li.active label::before {
    background-color: #00c6ff;
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 9px;
    margin-top: 4px;
    padding-left: 3px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
}
.multiselect-container>li>a{
    color: #757575;
    font-size: 0.9rem;
    margin-top: 4px;
}
.md-form input{
    font-size: 0.9rem;
}

/* End MultiSelect Page Css */


/*====Design updates By Ravi====*/
.sign-out{
    right:0px;
    top: 45px;
    width: 100px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    border: 1px solid #e8e8e8;
}
.sign-out li {
    padding:4px;
    font-size: .9375rem;
}

.sign-out li a:hover {
    color:#124e82;
}
.navbar {
    box-shadow: 0px 1px 2px #dedede;
    background-color: #fff !important;
}
.logo {
    max-width: 175px;
}
.top-search .dropdown button {
    background-color: transparent;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    margin-left: -2px;
    border-radius: 0;
    border-color: #d5d6d6 !important;
    background-color: #fff;
    font-size: 13px;
    padding-top: 9px;
    padding-bottom: 8px;
    color: #777b7d;
    margin: 0;
    box-shadow: none;
}

.top-search .form-control:focus {
    box-shadow: none;
}
.top-search select {
    height: 38px;
    border: 1px solid #d5d6d6;
    border-radius: 0;
}
.top-notification-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}
.header-bg {
    background: #104f85;
}
.header-bg h2 {
    margin-bottom: 0;
    padding: 15px 0;
    color: #fff;
    font-weight: normal;
    font-size: 1.5rem;
}
.job-detail-company-img {
    border: 1px solid #eee;
    padding: 5px;
}
.job-description-content {
    font-size: 14px;
}
.navbar {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), 0 2px 10px 0 rgba(0,0,0,.12);
}
.job-detail-share-section {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

h2.detail-title {
    font-size: 18px;
    background: #f5f6f7;
    padding: 8px 20px;
    margin-bottom: 16px;
    line-height: 1.6;
    border-radius: 2px;
    color: #35434e;
    border-left: 3px solid #104f85;
}
ul.detail-list li {
    padding: 0;
    margin-bottom: 5px;
    line-height: 1.9;
    font-size: 0.9rem;
    color: #353535;
    list-style: none;
}
ul.detail-list li:before {
    content: "\f101";
    position: relative;
    font-size: 17px;
    color: #8a8a8a;
    font-weight: 900;
    left: -12px;
    font-family: 'Font Awesome 5 Free';
}

.notification-card {
    padding:  0;
    right: 15px;
    top: 40px;
    width: 315px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    border: 1px solid #e8e8e8;
}
.notification-body {
    padding: 0 0.5rem;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
}
.notification-list {
    padding: 10px 0;
    padding-left: 30px;
    position: relative;
    display: block;
}
.notification-body .notification-list p {
    margin-bottom: 0;
    color: #353535;
    line-height: 1;
}
.notification-body .notification-list span {
    color: #aaafcb;
    font-size: 0.7rem;
    font-style: italic;
}
.notification-footer {
    padding: 0;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.navbar .notification-footer a {
    display: block;
    background: #104f85;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 400;
}
.navbar .notification-footer a:hover {
    background: #083f6f;
}
ul.skills {
    padding-left: 20px;
}
ul.skills li {
    display: inline-block;
    list-style: none;
    padding: 3px 15px;
    border: 1px solid #104f85;
    border-radius: 50px;
    margin: 5px;
    font-weight: 500;
    color: #353535;
    font-size: 14px;
}
.app-footer {
    background: none;
    padding: 10px 0;
    color: #a5a5a5;
    border-top: 1px solid #eee;
    margin-top: 30px;

}
.copyright {
    font-size: 0.75rem;
}
.app-footer-links  {
    margin: 0;
    padding: 0;
}
.app-footer-links li {
    display: inline-block;
    list-style: none;
}
.app-footer-links li a {
    padding: 0 5px;
    font-size: 0.75rem;
    color: #a5a5a5;
}
.app-footer-links li a:hover {
    color: #000;
    text-decoration: underline;
}
.card-job-date {
    font-size: 0.75rem;
    color: #636363;
}



  @media(max-width:767px){
.hide{
    display: none;
}

.text-success-green {
        color: #28a745!important;
        display: block;
        text-align: left;
    }
.text-span{
    display: block;
    text-align: left;
}
.mob-pl-0{
    padding-left:0; 
}
    .mob-pl-0{
        padding-left: 0;
    }
    .f1-step.active p {
        font-size: 11px;
        margin-top: 8px;
    }
    .f1-step.active::after {
        top: 96px;
        left: 15px;
    }
    .wizard-form.container-fluid {
        margin: 0;
    }
    .h3, h3 {
        font-size: 1.45rem;
    }
    .bg-sec{
        height: 100%;
    }
    .login-bg{
        height:100%;
        padding-top: 5%;
    
    }
    .logo {
        max-width:195px;
    }

    .abs-btm {
        bottom: 15px;
    }
    .add-sm-none{
        display: none;
    }
    .login-bg{
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        -webkit-align-items: center; 
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
    }
  }

  @media(max-width:996px){
    .h4.h4-d-sm{
        font-size: 1.1rem;
        }
  }


  @media(max-width:1025px){
    .login-bg{
        height:100%;
        padding-top: 5%;
    }
    .h4.h4-d-sm{
        font-size: 1.1rem;
        }
  }




