@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TermsConditionDetails</title>
   
    <!-- Bootstrap core CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/mdb.min.css" rel="stylesheet">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/font.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/all.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/wizard-style.css">
    <!-- Custom styles for this template-->
    <link href="~/Content/custom-styles.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/js/multiselect.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 order-2 order-sm-2 order-md-2 order-lg-3 term-condition">
        <div class="mt-3 mb-3">
            <div class="card rounded-0" style="margin-left: 235px;">
                <div class="card-body mt-4">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <h2 class="detail-title">Terms & Conditions</h2>
                                    <h2 class="detail-title">Introduction</h2>
                                </div>
                                <ul class="detail-list">
                                    Please read these Terms & Conditions carefully before using
                                    <a href="/">IdealHires</a>.
                                    </br>
                                    <a href="/">IdealHires</a> reserves the right to modify these Terms & Conditions at any time.
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <div class="card rounded-0" style="margin-left: 235px;">
                <div class="card-body mt-4 ">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <h2 class="detail-title">Services Provided</h2>
                                </div>
                                <ul class="detail-list">
                                    <a href="/">IdealHires</a> provides a service to bring Job Seekers and Employers together. Job Seekers and Employers can register, create profiles/job posts and search for jobs and resumes.
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <div class="card rounded-0" style="margin-left: 235px;">
                <div class="card-body mt-4 ">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <h2 class="detail-title">Privacy Policy</h2>
                                </div>
                                <ul class="detail-list">
                                    Job Seeker personal data will be available to Employers visiting
                                    <a href="/">IdealHires</a>.
                                    <br /> Personal data includes a Name which is mandatory, an email Address which is mandatory and a Telephone Number which is optional.
                                    <br />
                                    Personal data provided by the user may be used by
                                    <a href="/">IdealHires</a> to notify the user of any news, and or promotional offers relating only to the
                                    <a href="/">IdealHires</a> website.
                                    <br /> The user can unsubscribe from these notifications at anytime.</br>
                                    <a href="/">IdealHires</a> will not disclose user personal data to any third party.
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <div class="card rounded-0" style="margin-left: 235px;">
                <div class="card-body mt-4 ">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <h2 class="detail-title">Website Use</h2>
                                </div>
                                <ul class="detail-list">
                                    <p><a href="/">IdealHires</a> may not be used for any of the following purposes:</p>
                                    <ol>
                                        <li value="1">To contact <a href="/">IdealHires</a> users regarding any issue apart from the purpose of recruitment.</li>
                                        <li> To contact <a href="/">IdealHires</a> users to offer any services from a 3rd party company.</li>
                                        <li>To post any illegal content.</li>
                                    </ol>
                                    The user is required to provide truthful information in their profile or job post.
                                    <br />
                                    It is prohibited to use any text or images from
                                    <a href="/">IdealHires</a> for personal or commercial use.
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <div class="card rounded-0" style="margin-left: 235px;">
                <div class="card-body mt-4 ">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <h2 class="detail-title">User Information</h2>
                                </div>
                                <ul class="detail-list">
                                    <a href="/">IdealHires</a> does not hold responsibility for any untruthful and/or inaccurate information included in job posts and profiles.
                                    <br />
                                    <a href="/">IdealHires</a> reserves the right to edit or delete any information submitted by the user to the website.
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <div class="card rounded-0" style="margin-left: 235px;">
                <div class="card-body mt-4 ">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <h2 class="detail-title">Liability</h2>
                                </div>
                                <ul class="detail-list">
                                    <a href="/">IdealHires</a> will not be responsible for any loss or damage the user may encounter from using the website.
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <div class="card rounded-0" style="margin-left: 235px;">
                <div class="card-body mt-4 ">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <h2 class="detail-title">Cookies Policy</h2>
                                </div>
                                <ul class="detail-list">
                                    Our website uses cookies.
                                    <br>

                                    A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.
                                    We use Google Analytics to analyse the use of our website.
                                    Our analytics service provider generates statistical and other information about website use by means of cookies.
                                    You can delete cookies already stored on your computer. Please visit the 'Help' option in your browser menu to learn how to do this. Deleting cookies will have a negative impact on the usability of this website.</p>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
