@{
    ViewBag.Title = "Confirmation Detail";
}
<section>
    <div class="mt-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 align-self-center">
                    <div class="card pb-5">
                        <div class="container mt-3">
                            <div class="card-header clr-blue text-center pt-4 rounded-0">
                                <div><em class="far fa-envelope-open h1"></em></div>
                                <div class="h3">Confirm Email</div>
                            </div>
                        </div>
                        <div class="card-body text-center pt-5">
                            <h5 class="card-title col-blue h3">Thank You,</h5>
                            <p class="card-text gray-heading ft-14">
                                We have sent you an email for verification. Please click on the link to verify<br>
                                and to build your IdealCadidate profile.
                            </p>
                            <p class="gray-heading ft-14">Haven't recieved the verification email? <a href="">Resend Verification Email</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-center col-sm-3 text-sm-right add-sm-none">
                    <a href="/" class=""><img src="~/images/advertisement.png" alt="logo" class="logo"></a>
                </div>
            </div>
        </div>
    </div>
</section>
