@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="mt-5 min-height">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 margin0-auto">
                    <div class="pt-1">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <div class="row mt-5 mb-5">
                                    <div class="col-md-12 text-center">
                                        <h1 class="col-blue">Reset Password Confirmation</h1>
                                        <p class="font-weight-bold mb-1 mt-4">Your password has been reset. Please</p>
                                        @if (ViewBag.UserType == "Employer")
                                        {                                            
                                            <p class="font-weight-bold"><a href="@Url.Action("EmployerLogin", "Account")" class="col-blue">click here to log In</a></p>
                                        }
                                        else
                                        {                                            
                                            <p class="font-weight-bold"><a href="@Url.Action("Login", "Account")" class="col-blue">click here to log In</a></p>
                                        }                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>